.list {
  position: relative;
  width: 100%;
}

.itemWrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  cursor: pointer;
  top: 0;
  left: 0;
  display: flex;
}

/* Ensure direct children fill the wrapper */
.itemWrapper > * {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.itemWrapper > .itemImg {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
}
